/* general values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none ;
}

a {
    text-decoration: none;  
}

a:hover {
    cursor: pointer;
}

#general-header{


}

#frame-3{
   background-color: #2A3647;
   position: fixed;
   width: 232px;
   height: 1024px;
   display: flex;
   justify-content: space-between;
   padding: 64px 0px 64px 0px;
}