
.submenu {
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    color: #CDCDCD;
    border-radius: 20px 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu ul {
    display: flex;
    flex-direction: column;
}

.submenu ul a {
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.submenu ul a{
    color: #CDCDCD;
}

.submenu ul a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}