body {
    overflow: hidden;
}

::placeholder {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    height: 24px;
    color: #D1D1D1;
    position: fixed;
    margin-top: -2px;
}

input:focus {
    outline: none;
    border: 2px solid #29ABE2 !important;
}

.darkBackgroundContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.d-none {
    display: none;
}

.active {
    background-color: #091931;
}

.darkBackground {
    transition: all 500ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    animation: identifier 500ms ease-in-out;
}

.swipeOut {
    transition: all 500ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    animation: swipeOut 500ms ease-in-out; 
}

@keyframes identifier {
    from {
        background-color: transparent;
    }
    to {
    background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes swipeOut {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
    background-color: transparent;
    }
}

#addContactPopup {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* remove to work on */

    transition: all 500ms ease-in-out;
    transform: translateX(100%);
    
}

.addContactPopup {
    display: flex;
    width: 1212px;
    height: 592px;
    position: absolute;
    /* remove to work on */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 4px 4px 9px 19px  black;
    border-radius: 30px; */
}

.addContactLeftSide {
    height: 100%;
    width: 467px;
    background-color: #2A3647;
    border-radius: 30px 0 0 30px;
    padding: 66px 48px 66px 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.addContactLeftSideImage {
    position: absolute;
    top: 154px;
    left: 47px;
    height: 66.5px;
    width: 55.6px;
}

.addContactLeftSideTextLine {
    width: 371px;
    height: 129px;
    gap: 16px;
}

.addContactLeftSideTextLine::after {
    /* Blaue line hier*/
    content: "";
    display: block;
    width: 90px;
    padding-top: 14px;
    border-bottom: 3px solid #29ABE2;
}

.addContactLeftSideText {
    color: white;
    width: 371px;
    height: 113px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.addContactLeftSideText span:first-child {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    height: 73px;
    width: 366px;
}

.addContactLeftSideText span:last-child {
    width: 371px;
    height: 32px;
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

.addContactRightSide {
    /* width: 60%; */
    flex: 1;
    height: 100%;
    background-color: white;
    border-radius: 0 30px 30px 0;
    padding: 0 48px;
    display: flex;
    justify-content: end;
    position: relative;
}

.closePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48px;
    width: 32px;
    height: 32px;
    border-radius: 56px;
}

.closePopup:hover {
    cursor: pointer;
    background-color: lightgray;
}

.createContactSection {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 137px;
    width: 422px;
    height: 215px;
    gap: 32px;
}

.createContactSection div {
    height: 50px;
    display: flex;
}

.createContactSection div input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    /* box-sizing: border-box; */
}

.inputContainer div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputContainer img {
    position: absolute;
    right: 16px;
}

.inputFrame input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    /* box-sizing: border-box; */
}

.passwordField div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.passwordField img {
    position: absolute;
    right: 14px;
}

.buttonsForAddContact {
    width: 364px;
    height: 57px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createContactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 214px;
    height: 57px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    border: none;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
}

.createContactButton:hover {
    background-color: #29ABE2;
    box-shadow: 0px 2px 3px gray;
}

.cancelButton:hover div img {
    filter: invert(53%) sepia(96%) saturate(1108%) hue-rotate(164deg) brightness(97%) contrast(82%)
}

.createContactButton img {
    height: 24px;
    width: 24px;
}

.createContactButton div {
    display: flex;
    align-items: center;
}

.cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 126px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    border: 1px solid #2A3647;
    background-color: white;
    color: #2A3647;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
}

.cancelButton:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 2px 3px gray;
    color: #29ABE2;
}

.cancelButton img {
    height: 24px;
    width: 24px;
}

.cancelButton div {
    display: flex;
    align-items: center;
}

.addContactIcon {
    position: absolute;
    top: 204px;
    left: 70px;
    height: 120px;
    width: 120px;
}

.textbutton {
    width: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 21px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #2A3647;
    color: white;
    margin-left: 250px;
    margin-top: 150px;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.textbutton:hover {
    cursor: pointer;
}

.contacts {
    font-size: 24px;
    display: flex;
    margin-left: 250px;
    margin-right: 60px;
    padding: 16px;
    border-radius: 10px;
    gap: 35px;

}

.contacts:hover {
    background-color: #F6F7F8;
    cursor: pointer;
}

.firstLetters {
    margin-right: 24px;
}

.emailLink{
    color: #007CEE;
}

.d-flex {
    display: flex;
}

.contact-header {
    display: flex;
    margin-top: 206px;
    gap: 30px;
    height: 73px;
    align-items: center;
    
}

.blue-line {
    height: 59px;
    border: 2px solid;
    border-color: #28ABE2;
    border-radius: 10px;
}

.font-size-headline {
    font-size: 62px;
    padding-left: 64px;
}

.font-size-paragraph {
    font-size: 27px;
}

.current-contact {
    background-color: #F6F7F8;
    
}

.contact-right-side {
    z-index: -1;
    height: 100vh;
    display: flex;
    flex: 1;
    background-color: #F6F7F8;
    
}

.background-color-white {
    background-color: white;
}

.contact-left-side {
    height: 100vh;
}