@media (max-height: 700px) {
  .privacyPolicyContainer {
    position: absolute;
    bottom: 0px;
  }
}

/* Large Sizes */

@media (max-width: 1200px) {
  .signUpFromLoginPage {
    right: 100px;
  }

  /* Summary */

  #lower-main-summery {
    display: flex;
    flex-direction: column;
  }

  #content-summary {
    position: fixed !important;
    margin-inline: auto;
    left: 260px !important;
  }

  .headerLogoResponsive {
    display: none;
  }

  /* Add Task */

  #add-task-section {
    overflow: scroll;
  }

  #add-task-form {
    overflow: scroll;
  }

  #upper-form {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }

  #upper-form-left {
    border: none;
    width: 100%;
    padding-right: 0px;
  }

  #upper-form-right {
    width: 100%;
    padding-top: 16px;
    padding-left: 0px;
  }

  #prio-buttons-div {
    display: flex;
    justify-content: space-between;
  }
}

/* Laptop */

@media (max-width: 1024px) {
  /* Login Page  */
  .signUpFromLoginPage {
    position: absolute;
    margin-inline: auto;
    top: auto;
    bottom: 180px;
    /* width: 100vw; */
    right: auto;
  }

  .loginFrame {
    width: 77%;
  }

  .privacyPolicyContainer {
    bottom: 50px;
  }

  @keyframes identifier {
    from {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      height: 70vh;
    }
    to {
      position: absolute;
      top: 30px;
      left: 77px;
      width: 80px;
      height: 122px;
      transform: none;
    }
  }

  .signUpFromLoginPage {
    width: 292px;
    height: 49px;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    bottom: 80px;
  }

  .privacyPolicyContainer {
    height: 35px;
    bottom: 8px;
    gap: 8px;
  }

  /* Sign up Page */

  .logoSignUpImage {
    position: absolute;
    top: 22px;
    left: 38px;
    width: 64px;
    height: 78px;
  }

  /* Summary */

  #summary-heading {
    font-size: 42px !important;
  }

  #content-summary {
    padding: 16px 16px 0px 16px;
    margin-bottom: 100px;
    top: 100px !important;
    left: 0px !important;
    right: 0px !important;
    display: flex;
    flex-direction: column;
    bottom: 0px !important;
  }

  /* #lower-main-summery {
    height: 100% !important;
    padding-bottom: 120px !important;
  } */

  #lower-main-summery {
    height: 485px;
  }

  #left-lower-main {
    height: 485px;
  }

  #first-line-left-div,
  #first-line-right-div,
  #left-second-line,
  #left-third-line div {
    height: 130px;
  }

  aside {
    position: fixed !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 16px !important;
    bottom: 400px !important;
    /* left: 0; */
    right: 0;
    bottom: 0 !important;
    top: unset !important;
    height: 100px !important;
  }

  nav {
    padding: 0px !important;
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
    gap: 0px !important;
  }

  nav ul li {
    width: 20%;
    padding: 0 !important;
    height: 70px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    justify-content: center;
  }

  #legal-section {
    display: none !important;
  }


  #join-logo-light {
    display: none;
  }

  .headerLogoResponsive {
    display: block !important;
    height: 60px;
    position: relative;
  }

  header {
    display: flex;
    justify-content: space-between !important;
    padding: 20px 32px !important;
  }

  header span {
    display: none;
  }

  #header-right-side {
    position: relative;
  }

/* AddTask */

#add-task-section {
    /* margin: 100px 0px 0px 0px !important; */
    margin: 0 !important;
    padding: 132px 32px  !important;
    overflow: scroll !important;
    height: 100vh !important;
  }

  #add-task-form {
    padding: 0px !important;
    height: 100%;
    display: flex;
    justify-content: start;
  }

  #title-div, #description-div, #assigned-dropdown-div, .add-task-font-styling {
    padding-right: 16px !important;
    width: 100%;
  }

  #prio-div {
    align-items: center;
  }

  #prio-buttons-div {
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }

  #add-task-title-input {
    width: 100% !important;
  }

  #upper-form {
    margin-top: 16px !important;
  }

  #upper-form-right {
    padding-left: 8px !important;
  }

  #lower-form {
    display: flex;
    align-items: center;
    margin-top: 16px !important;
  }

}







/* Mobile  */

@media (max-width: 600px) {
  /* Login Page */
  @keyframes identifier {
    from {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      height: 70vh;
    }
    to {
      position: absolute;
      top: 37px;
      left: 38px;
      width: 64px;
      height: 78px;
      transform: none;
    }
  }

  .loginFrame {
    width: 90%;
    height: 515px;
    padding: 0px 32px;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .loginHeadline p {
    height: 73px;
    font-size: 40px;
  }

  .loginHeadline::after {
    content: "";
    width: 25%;
    border: 2px solid #29abe2;
    background: #29abe2;
    position: absolute;
    bottom: 10px;
  }

  .loginInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 196px;
    gap: 0px;
  }

  .remeberMeSection {
    left: 8px;
  }

  .inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 152px;
    gap: 32px;
  }

  .loginButtons {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 180px;
    height: 123px;
  }

  .loginButton,
  .guestLoginButton {
    font-size: 16px;
    line-height: 19, 2px;
    height: 51px;
  }

  .signUpFromLoginPage {
    width: 292px;
    height: 49px;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    bottom: 80px;
  }

  .signUpFromLoginPage p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .privacyPolicyContainer {
    height: 35px;
    bottom: 8px;
    gap: 8px;
  }

  /* Sign Up Page */

  .logoSignUpImage {
    position: absolute;
    top: 22px;
    left: 38px;
    width: 64px;
    height: 78px;
  }

  .backToLoginPageContainer {
    left: 15px;
    top: 15px;
  }

  .signUpFrame {
    width: 90%;
    height: 595px;
    padding: 0px 16px;
    display: flex;
    justify-content: start;
  }

  .signUpInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    align-items: center;
    height: fit-content;
    margin-top: 48px;
  }

  .signUpHeadline {
    height: 72px;
    width: 173px;
    gap: 16px;
    margin-bottom: 16px;
  }

  .signUpHeadline::after {
    border: 2px solid #29abe2;
  }

  .signUpinputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: fit-content;
    gap: 24px;
  }

  .signUpHeadline p {
    height: 56px;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
  }

  .signUpinputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 152px;
    gap: 24px;
  }

  .acceptPrivacyPolicyContainer {
    position: absolute;
    bottom: 110px;
  }

  .signUpButtonContainer {
    bottom: 32px;
    position: absolute;
  }

  /* Summary */

  #content-summary {
    padding: 32px 16px 100px 16px !important;
  }

  aside {
    padding: 4px !important;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #head-summary {
    position: relative !important;
    flex-direction: column;
    align-items: start !important;
    justify-content: start !important;
    gap: 0px !important;
    padding-bottom: 12px;
  }

  #vertical-blue-line {
    height: 4px !important;
    width: 120px !important;
    position: absolute;
    bottom: 0px;
  }

  #left-lower-main, #left-second-line, #left-third-line {
    width: 100%;
  }

  #left-first-line, 
  #first-line-left-div, 
  #first-line-right-div,
  #left-second-line,
  #left-third-line div {
    height: 120px;
  }

  #left-first-line {
    justify-content: space-evenly;
  }

  #first-line-left-div, #first-line-right-div {
    width: 100%;
    padding: 16px 8px;
  }

  #first-line-left-div img, #first-line-right-div img, #second-line-left-div img {
    width: 50px;
    height: 50px;
  }

   

  #left-third-line div {
    width: 116px;
    height: 116px;
  }


  /* Add Task */

  #upper-form {
    display: flex;
    flex-direction: column !important;
  }

  #upper-form-left {
    border: none;
    width: 100%;
  }

  #upper-form-left div{
    padding: 0 !important;
  } 

  #upper-form-right {
    width: 100%;
    padding: 16px 0px 0px 0px !important;
  }

  #lower-form {
    padding-bottom: 100px !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

}
