
    <img id="join-logo-light" src="./assets/img/aside_and_header/join_logo_light.png" alt="join logo" />

        <nav>
            <ul id="flex-list-container">
                <li id="summary-list-element" class="hover-darkblue">
                    <a class="list-nav-element" href="./summary.html"><img
                            src="./assets/img/aside_and_header/summary-icon.png" /><span
                            class="nav-list-span">Summary</span></a>
                </li>
                <li id="addTask-list-element" class="hover-darkblue">
                    <a class="list-nav-element" href="./add_task_n_include.html"><img
                            src="./assets/img/aside_and_header/addTask-icons.png" /><span class="nav-list-span">Add
                            Task</span></a>
                </li>
                <li id="board-list-element" class="hover-darkblue">
                    <a class="list-nav-element" href="./board.html"><img
                            src="./assets/img/aside_and_header/board-icons .png" /><span
                            class="nav-list-span">Board</span></a>
                </li>
                <li id="contacts-list-element" class="hover-darkblue">
                    <a class="list-nav-element" href="./contacts.html"><img
                            src="./assets/img/aside_and_header/contacts-icons.png" /><span
                            class="nav-list-span">Contacts</span></a>
                </li>
            </ul>
        </nav>

        <div id="legal-section">
            <ul id="legal-section-flex">
                <li class="legal-list-element hover-darkblue">
                    <a href="privacyPolicy.html"><span class="legal-list-span">Privacy Policy</span></a>
                </li>
                <li class="legal-list-element hover-darkblue">
                    <a href="legalNotice.html"><span class="legal-list-span">Legal Notice</span></a>
                </li>
            </ul>
        </div>